/*
 * background (CSS3での変更点)
 * @param {background-position} - 最大4つの値を指定
 * @param {background-attachment} [local]
 * @param {background-repeat} [space | round] - 2つの値を指定することで上下と左右で異なる指定ができる
 * @param {background-image} - 複数の背景画像を指定できるようになりました
 * @param {background-size} [<length> | auto | contain | cover ] - 画像サイズの動的な変更
 * @param {background-clip} [border-box | padding-box | content-box] - 背景を適用する範囲
 * @param {background-origin} [border-box | padding-box | cotnent-box] - 背景の起点
 */
E {
  background-position: [keyword] [length] [keyword] [length];
  background-attachment: [keyword];
  background-repeat: [keyword];
  background-image: [value], [value];
  background-size: [width<length>] [height<length>];
  background-size: [keyword];
  background-clip: [box];
  background-origin: [box];
}

/* 短縮記法に size を含める */
E {
  background: [image] [repeat] [position] / [size];
}

/* 短縮記法に origin と clip を含める */
E {
  background: [image] [repeat] [origin] [clip];
}


/* 簡単な例 */
div {
  background-position: right 100px bottom: 10%;
  background-attachment: local;
  background-repeat: space round;
  background-image: url('monkey.svg'), url('landscape.jpg');
  background-size: auto 80%;
  background-size: contain;
  background-size: padding-box;
  background-origin: border-box;
}
